<!-- app/views/palettes/new.html.erb -->
<h1>Create New Palette</h1>

<%= render 'form', palette: @palette %>

<div class="actions">
  <%= link_to "Back to List", palettes_path, class: "button" %>
</div>
